<%= form.fields_for :snippet do |s_form| %>
  <div class="field">
    <%= s_form.label :body, 'Snippet:' %>
    <%= s_form.text_area :body %>
  </div>
  <% unless s_form.object.nil? || s_form.object.new_record? %>
    <div class="field">
      <%= s_form.label :_destroy, 'Remove:' %>
      <%= s_form.check_box :_destroy %>
    </div>
  <% end %>
<% end %>