<ul class="thumbnails">
	<li class="span12">
		<div class="thumbnail cus_about">
			<h4 style="float:right">Sept 30 2012</h4>
			<div class="row">
				<div class="span2 columns" style="padding-left:50px;padding-top:20px">
					<%= image_tag("WG.png", alt: "Wolfgang Gartner") %>
				</div>
				<div class="span6 columns">
					<h3 style="padding-top:120px;padding-bottom:10px">
						<%= link_to	"Artists Who Take Their Stage With Them", rigs_path, id:"cus_title2" %>
					</h3>
				</div>
			</div>
			<hr style="margin-left:50px;margin-right:100px;background-color:#000000">
			<br><br>
			<p class="smalltab">
				The trend of artists having their own traveling light show is something that is becoming a very important part of many EDM concerts in the US. Of course, you can always expect the biggest and best lights at large festivals, like Ultra or Electric Daisy Carnival, but now that four-story LED/laser wall has been shrunk down to fit in an indoor venue. And <%= link_to	"the results are amazing", 'http://blogs.miaminewtimes.com/crossfade/2012/08/best_dj_booths_in_edm_skrillex_avicii_daft_punk.php'%>.
			</p>
			<p class="smalltab">
				A few days ago I started up my new twitter account for the website (<%= link_to	"@BuildTheBeat", 'https://twitter.com/buildthebeat'%>) and got into a mini twitter conversation with one of my favorite artists, Wolfgang Gartner, aka Joey Youngman. Besides the immense amount of flattery I got from the fact that he actually responded to me, I got some information out of him as well.
			</p>
			<p class="smalltab">
				<%= link_to	"Read More...", rigs_path %>
			</p>
		</div>
	</li>
</ul>

<ul class="thumbnails">
	<li class="span12">
		<div class="thumbnail cus_about">
			<h4 style="float:right">Sept 24 2012</h4>
			<h3 style="padding-left:40px;padding-top:20px;padding-bottom:20px"><%=link_to "Music: Gigamesh", music_path, id: "cus_title2"%></h3>
			
			<p class="smalltab">New stuff from Gigamesh, one of the best french house music producers out there:</p>
			<p class="tab">
				<iframe width="75%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F60994951&show_artwork=true"></iframe></p>
			</div>
		</li>
	</ul>