<ul class="thumbnails">
	<li class="span10">
		<div class="thumbnail cus_about">
			<h4 style="float:right">Sept 30 2012</h4>
			<div class="row">
				<div class="span2 columns" style="padding-left:50px;padding-top:20px">
					<%= image_tag("WG.png", alt: "Wolfgang Gartner") %>
				</div>
				<div class="span6 columns">
					<h3 style="padding-top:120px;padding-bottom:10px">
						<%= link_to	"Artists Who Take Their Stage With Them", '/news/artists-that-take-their-stage-with-them', id:"cus_title2" %>
					</h3>
				</div>
			</div>
			<hr style="margin-left:50px;margin-right:100px;color:#FFFFFF">
			<br><br>
			<p class="smalltab">
				The trend of artists having their own traveling light show is something that is becoming a very important part of many EDM concerts in the US. Of course, you can always expect the biggest and best lights at large festivals, like Ultra or Electric Daisy Carnival, but now that four-story LED/laser wall has been shrunk down to fit in an indoor venue. And <%= link_to	"the results are amazing", 'http://blogs.miaminewtimes.com/crossfade/2012/08/best_dj_booths_in_edm_skrillex_avicii_daft_punk.php'%>.
			</p>
			<p class="smalltab">
				A few days ago I started up my new twitter account for the website (<%= link_to	"@BuildTheBeat", 'https://twitter.com/buildthebeat'%>) and got into a mini twitter conversation with one of my favorite artists, Wolfgang Gartner, aka Joey Youngman. Besides the immense amount of flattery I got from the fact that he actually responded to me, I got some information out of him as well.
			</p>
			<p class="smalltab">
				Youngman is one of many artists who now bring a custom-designed rig on tour. These rigs are basically a themed piece of stage equipment, saturated with LEDs, which adds the all-important visual element to a show. EDM legend Deadmau5 had a massive 3D LED Cube that  <%= link_to	"he toured with", 'http://www.engadget.com/2011/03/29/a-day-with-deadmau5-leds-super-mario-and-techno/'%> last year, which was synced with his signature LED mouse-head helmet through wireless ethernet. Dubstep powerhouse Skrillex debuted a spaceship stage complete with fog machines and lasers.
			</p>
			<p style="text-align:center">
				<iframe src="http://player.vimeo.com/video/30287146" width="500" height="290" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				<h4 style="text-align:center">He named his tour after his cat. He really freakin' loves that cat</h4>
			</p>
			<br>
			<p class="smalltab">
				But back to Wolfgang. Youngman had recently been talking about a new rig he was having built for his upcoming <%= link_to	"Love and War tour", 'http://www.wolfganggartner.com/wolfgang-gartner-love-war-tour-trailer/'%>. This isn’t Youngman’s first time traveling with a rig either: his last tour featured a Aztec-statue-eqse booth (nicknamed ‘Medusa’), built by LA-based  <%= link_to	"Possible Productions", 'http://www.possibleproductions.com/blog/'%>, who has made custom rigs for Deadmau5, Kanye West, and Daft Punk. Youngman also gave me the name of the company that build his new rig, AG Light & Sound. AG has done light shows for many festivals, including Electric Daisy Carnival and Ultra (I can personally say they did an awesome job at Ultra). I haven’t found a ton of information about them yet, but for now you can check out some of their past festival setups <%= link_to	"here", 'http://www.ag.tc/gallery.php'%>
				<p style="text-align: center">
					<%= link_to image_tag("wg_50pc.jpg", alt: "Medusa"), 'http://photo.rukes.com/avalon130/slides/avalon130%20002.html'%>
					<h4 style="text-align:center">Medusa in all of its Aztec glory</h4>
				</p>
				<br>
				<p class="smalltab">
					Although it’s hard to compete with the staggering size of visuals in a full-blown outdoor show, these tour rigs are bringing that part of the festival into packed concert halls around the world. Though cost can be prohibitively expensive for smaller artists, I wouldn’t be surprised to see some innovative DJs designing and/or building their own rigs to get a leg up on the competition. I might even take a crack at making some LED goodies of my own over the next few months... I'll keep you posted!
				</p>
				<br><br>
			</div>
		</li>
	</ul>