<ul class="thumbnails">
	<li class="span10">
		<div class="thumbnail cus_about">
			<h4 style="float:right">Oct 10 2012</h4>
			<div class="row">
				<div class="span7 columns">
					<h3 style="padding-top:40px;padding-bottom:10px;padding-left:70px">
						<%= link_to	"A New Take On Old Tech", '/news/a-new-take-on-old-tech', id:"cus_title2" %>
					</h3>
				</div>
				<div class="span2 columns" style="padding-top:20px">
					<%= image_tag("reactable_logo.jpg", alt: "Reactable") %>
				</div>		
			</div>
			<hr style="margin-left:50px;margin-right:50px">
			<br><br>
			<p class="smalltab">
				Though it seems like new DJ equipment comes out almost every week, most of the controllers you see fit into the same mold: they all have knobs, faders, buttons, and maybe a jog wheel or two. It’s been a while since someone has created a completely original device for music creation... until this:
			</p>
			<p class="smalltab" style="text-align:center">
				<iframe width="420" height="315" src="http://www.youtube.com/embed/Mgy1S8qymx0" frameborder="0" allowfullscreen></iframe>
			</p>
			<p class="smalltab">
				First introduced to the world back in 2005 by a group of four young guys at a university in Barcelona, the Reactable has picked up a lot of critical acclaim since then. It looks like a lot of fun, and the concept is so radically different that you can’t help but marvel at the simplicity of it (at least on the outside). Just watching the video makes me want to get one of these things and start playing around with it.
			</p>
			<p class="smalltab">
				But as far as adoption by mainstream DJs, the Reactable hasn’t gotten much love. And why would it? Most of the professionals out there are well-practiced on the traditional mixers and controllers, which they are obviously very comfortable using. As fun as it looks, it’s very difficult to imagine Armin van Buuren playing music with a bunch of blocks in front of a crowd of fifty thousand people. It simply doesn’t bring the same energy to the crowd as the standard DJ booth setup. 
			</p>
			<p class="smalltab">
				Now, that isn’t to say that the Reactable is only a fun diversion. As you can see <%= link_to "here", 'http://www.youtube.com/watch?v=lA29AE6O69k'%>, kids can’t get enough of the thing. Now what do you think a ten year old would have a better chance of learning: complex music production software like Ableton or something tangible and interactive like the Reactable? When I was in elementary school, kids learned the classic instruments, like the violin, flute, saxophone, or cello. At the time, I didn’t even know electronic music existed. But with something like this, a new generation of music producers can start experimenting when their minds are even fresher... providing they can afford it.
			</p>
			<p class="smalltab" style="text-align:center">
				<%= image_tag("baby_dj.jpg", alt: "DJ Baby") %>
				<h5 style="text-align:center">Couldn't resist. Do yourself a favor and Google Image search 'DJ Baby'</h5>
			</p>
			<br>
			<p class="smalltab">
				With a price of around $12,000, the Reactable isn’t something most people can readily afford. Though they do make an iPad app, it’s just not the same as having the physical interface. The Reactable is great to play around with, and great for kids, but I don't think you'll be seeing your favorite artist on stage with one in the near future. Although, now that I think of it, I <i>could</i> see Steve Aoki diving off the top of it...
			</p>
			<br><br>
		</div>
	</li>
</ul>

<ul class="thumbnails">
	<li class="span10">
		<div class="thumbnail cus_about">
			<h4 style="float:right">Sept 30 2012</h4>
			<div class="row">
				<div class="span2 columns" style="padding-left:50px;padding-top:20px">
					<%= image_tag("WG.png", alt: "Wolfgang Gartner") %>
				</div>
				<div class="span6 columns">
					<h3 style="padding-top:120px;padding-bottom:10px">
						<%= link_to	"Artists Who Take Their Stage With Them", '/news/artists-that-take-their-stage-with-them', id:"cus_title2" %>
					</h3>
				</div>
			</div>
			<hr style="margin-left:50px;margin-right:100px;color:#FFFFFF">
			<br><br>
			<p class="smalltab">
				The trend of artists having their own traveling light show is something that is becoming a very important part of many EDM concerts in the US. Of course, you can always expect the biggest and best lights at large festivals, like Ultra or Electric Daisy Carnival, but now that four-story LED/laser wall has been shrunk down to fit in an indoor venue. And <%= link_to	"the results are amazing", 'http://blogs.miaminewtimes.com/crossfade/2012/08/best_dj_booths_in_edm_skrillex_avicii_daft_punk.php'%>.
			</p>
			<p class="smalltab">
				A few days ago I started up my new twitter account for the website (<%= link_to	"@BuildTheBeat", 'https://twitter.com/buildthebeat'%>) and got into a mini twitter conversation with one of my favorite artists, Wolfgang Gartner, aka Joey Youngman. Besides the immense amount of flattery I got from the fact that he actually responded to me, I got some information out of him as well.
			</p>
			<p class="smalltab">
				Youngman is one of many artists who now bring a custom-designed rig on tour. These rigs are basically a themed piece of stage equipment, saturated with LEDs, which adds the all-important visual element to a show. EDM legend Deadmau5 had a massive 3D LED Cube that  <%= link_to	"he toured with", 'http://www.engadget.com/2011/03/29/a-day-with-deadmau5-leds-super-mario-and-techno/'%> last year, which was synced with his signature LED mouse-head helmet through wireless ethernet. Dubstep powerhouse Skrillex debuted a spaceship stage complete with fog machines and lasers.
			</p>
			<p style="text-align:center">
				<iframe src="http://player.vimeo.com/video/30287146" width="500" height="290" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				<h4 style="text-align:center">He named his tour after his cat. He really freakin' loves that cat</h4>
			</p>
			<br>
			<p class="smalltab">
				But back to Wolfgang. Youngman had recently been talking about a new rig he was having built for his upcoming <%= link_to	"Love and War tour", 'http://www.wolfganggartner.com/wolfgang-gartner-love-war-tour-trailer/'%>. This isn’t Youngman’s first time traveling with a rig either: his last tour featured a Aztec-statue-eqse booth (nicknamed ‘Medusa’), built by LA-based  <%= link_to	"Possible Productions", 'http://www.possibleproductions.com/blog/'%>, who has made custom rigs for Deadmau5, Kanye West, and Daft Punk. Youngman also gave me the name of the company that build his new rig, AG Light & Sound. AG has done light shows for many festivals, including Electric Daisy Carnival and Ultra (I can personally say they did an awesome job at Ultra). I haven’t found a ton of information about them yet, but for now you can check out some of their past festival setups <%= link_to	"here", 'http://www.ag.tc/gallery.php'%>
				<p style="text-align: center">
					<%= link_to image_tag("wg_50pc.jpg", alt: "Medusa"), 'http://photo.rukes.com/avalon130/slides/avalon130%20002.html'%>
					<h4 style="text-align:center">Medusa in all of its Aztec glory</h4>
				</p>
				<br>
				<p class="smalltab">
					Although it’s hard to compete with the staggering size of visuals in a full-blown outdoor show, these tour rigs are bringing that part of the festival into packed concert halls around the world. Though cost can be prohibitively expensive for smaller artists, I wouldn’t be surprised to see some innovative DJs designing and/or building their own rigs to get a leg up on the competition. I might even take a crack at making some LED goodies of my own over the next few months... I'll keep you posted!
				</p>
				<br><br>
			</div>
		</li>
	</ul>