<ul class="thumbnails">
  <li class="span10">
    <div class="thumbnail cus_about">

      <h3 id="cus_title2">All Posts:</h3>
      <br>
      <table>
        <tr>
          <th>Title</th>
          <!-- <th>Content</th> -->
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% @posts.each do |post| %>

        <tr>
          <td><%= post.title %></td>
          <!-- <td><%= post.content %></td> -->
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </table>

      <br />

      <%= link_to 'Create New Post', new_post_path %>

    </div>
  </li>
</ul>